In [5]:
#dictionery
#a = {<key>:<value>,<key>:<value>}
dict_a = {"a":"apple","b":"ball"}
dict_b = {1:"Apple",2:"Ball"}

print(dict_a)

print(dict_a["a"])
print(dict_b[1])

print(dict_b[2])

{'a': 'apple', 'b': 'ball'}
apple
Apple
Ball

In [8]:
dict_a = {"a":"apple","b":"ball","A":"Apple"}
print(dict_a)

{'a': 'apple', 'b': 'ball', 'A': 'Apple'}

In [10]:
dict_a = {"a":"apple","b":"ball","a":"Apple"} #update the last value of a
print(dict_a)

{'a': 'Apple', 'b': 'ball'}

In [12]:
a = {}
a["Ram"]= 984030426978
a["Shyam"]= 98478245485
a["Hari"]= 988752215155
print(a)

{'Ram': 984030426978, 'Shyam': 98478245485, 'Hari': 988752215155}

In [24]:
d = {}
n = int(input("Enter n= "))
for i in range(n):
    name = input("ENter name: ")
    phone = input("Enter phone: ")
    d[name] = phone
print(d)

Enter n= 2
ENter name: ram
Enter phone: 122
ENter name: sam
Enter phone: 211
{'ram': '122', 'sam': '211'}

In [19]:
for i in d:# key
    print(i)

ram
sam

In [21]:
for i in d.values(): #value
    print(i)

122
211

In [26]:
z = []
for i in d.items(): #key and value
    z.append(i)
print(z)

[('ram', '122'), ('sam', '211')]

In [29]:
z = [('ram', '122'), ('sam', '211')]
d = {}
for i in z:
    key = i[0]
    value = i[1]
    d[key] = value
print(d)

{'ram': '122', 'sam': '211'}

In [31]:
d = {("a","A"):"apple"}
d

{('a', 'A'): 'apple'}

#list inside dictionery or if a key has two value

d = {"Ram":[9802019877,9840598458],"Sam":[980202025,98405154551]}
print(d)

In [ ]:
name = input("Enter name: ")
phone = int(input("Enter 0 for ntc and 1 for ncell: "))
print(d[name][phone])

In [39]:
#list inside dictionery or if a key has two value

d = {"Ram":[9802019877,9840598458],"Sam":[980202025,98405154551]}
print(d)

{'Ram': [9802019877, 9840598458], 'Sam': [980202025, 98405154551]}

In [41]:
name = input("Enter name: ")
phone = int(input("Enter 0 for ntc and 1 for ncell: "))
print(d[name][phone])

Enter name: Ram
Enter 0 for ntc and 1 for ncell: 0
9802019877

In [44]:
d["Ram"][0] = 98025252525
print(d)

{'Ram': [98025252525, 9840598458], 'Sam': [980202025, 98405154551]}

In [46]:
del d["Ram"][0]
print(d)

{'Ram': [], 'Sam': [980202025, 98405154551]}

In [49]:
d = {"Ram":[9840598458],"Sam":[980202025,98405154551]}
d["Ram"].insert(0,984105021)
print(d)

{'Ram': [984105021, 9840598458], 'Sam': [980202025, 98405154551]}

In [12]:
#search
a = {'Ram': [984105021, 9840598458], 'Sam': [980202025, 98405154551]}
n = int(input("Enter phone: "))
for i in a.items():
    if n in i[1]:
        print(i)

Enter phone: 9840598458
('Ram', [984105021, 9840598458])

In [21]:
#del
a = {'Ram': [984105021, 9840598458], 'Sam': [980202025, 98405154551]}
n = int(input("Enter phone: "))
for i in a.items():
    if n in i[1]:
        key = i[0]
        del a[key]
        break
print(a)

Enter phone: 980202025
{'Ram': [984105021, 9840598458]}

In [22]:
#dict inside dict
#d = {<key>:{<key>:<value>,<key>:<value>},
#   <key>:{<key>:<value>,<key>:<value>}}

In [45]:
d = {"Ram":{"Physic":67,"Chemistry":89,"Math":45},
    "Sam":{"Physic":78,"Chemistry":69,"Math":98}}

print(type(d))
print(d)

<class 'dict'>
{'Ram': {'Physic': 67, 'Chemistry': 89, 'Math': 45}, 'Sam': {'Physic': 78, 'Chemistry': 69, 'Math': 98}}

In [46]:
for i in d.items():
    print(i)

('Ram', {'Physic': 67, 'Chemistry': 89, 'Math': 45})
('Sam', {'Physic': 78, 'Chemistry': 69, 'Math': 98})

In [47]:
print(d["Ram"])

{'Physic': 67, 'Chemistry': 89, 'Math': 45}

In [48]:
print(d["Ram"]["Physic"])

67

In [49]:
d["Ram"]["Physic"] = 76

In [50]:
print(d)

{'Ram': {'Physic': 76, 'Chemistry': 89, 'Math': 45}, 'Sam': {'Physic': 78, 'Chemistry': 69, 'Math': 98}}

In [55]:
data = {}
n = int(input("Enter the number of student: "))
for i in range(n):
    name = input("Enter name of student: ")
    physic = input("Enter marks of physic: ")
    chemistry = input("Enter marks of chemistry: ")
    math = input("Enter marks of math: ")
    data[name] = {"Physic":physic,"Chemistry":chemistry,"Math":math}
print(data)

Enter the number of student: 2
Enter name of student: ram
Enter marks of physic: 20
Enter marks of chemistry: 20
Enter marks of math: 25
Enter name of student: sam
Enter marks of physic: 54
Enter marks of chemistry: 56
Enter marks of math: 26
{'ram': {'Physic': '20', 'Chemistry': '20', 'Math': '25'}, 'sam': {'Physic': '54', 'Chemistry': '56', 'Math': '26'}}

In [60]:
data["ram"]
data["ram"]["Physic"]

'20'

In [62]:
#d = [{<key>:<value>},{<key>:<value>},{<key>:<value>}]
d = [{"Name":"Ram","Phone":9802019662},
    {"Name":"sam","Phone":9802019663},
    {"Name":"hari","Phone":9802019664}]
print(d[2])

{'Name': 'hari', 'Phone': 9802019664}

In [63]:
x = {"Name":"Navin","Phone":985032062}
d.append(x)
print(d)

[{'Name': 'Ram', 'Phone': 9802019662}, {'Name': 'sam', 'Phone': 9802019663}, {'Name': 'hari', 'Phone': 9802019664}, {'Name': 'Navin', 'Phone': 985032062}]