In [7]:
#set is also data tyoe
#have curly braxket
# unorder
#is mutable
#doesnt foloow indexing
#no duplicate members

a = set()
print(type(a))
print(a)

<class 'set'>
set()

In [9]:
a = {1,2,3}
print(type(a))

b= {}
print(type(b))

<class 'set'>
<class 'dict'>

In [15]:
#unorder
a = {"Apple","Ball","1zebra",2,1,20.5}
print(a)
a

{1, 2, 'Apple', 'Ball', 20.5, '1zebra'}

{1, '1zebra', 2, 20.5, 'Apple', 'Ball'}

In [17]:
#no index
a[0]

TypeError: 'set' object is not subscriptable

In [19]:
#no duplicate
a = {1,1,2,3,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [26]:
#removing duplicate elements in list by converting in sets
a = [1,1,2,2,3,3,4,4]
b = set(a)
print(b)
a = list(b)
print(a)

{1, 2, 3, 4}
[1, 2, 3, 4]

In [27]:
#add
#update

In [30]:
a = set()
a.add(1)
a.add(2)
a.add(3)
print(a)

{1, 2, 3}

In [37]:
a = set("Python") #string
print(a)
b = list("Python")#list
c = tuple("Python") #tuple
print(b)
print(c)

{'t', 'h', 'P', 'y', 'o', 'n'}
['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')

In [39]:
a = set()
n = int(input("ENter value of n: "))
for i in range(n):
    x = int(input("Enter x = "))
    a.add(x)
print(a)

ENter value of n: 2
Enter x = 1
Enter x = 2
{1, 2}

In [48]:
a = {1,2,3}
b = {4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [51]:
q = {(1,2,3),(4,5,6)} #can only be set inside tuple coz they are both immutable data types
print(q)

{(1, 2, 3), (4, 5, 6)}

In [56]:
a = {1,2,3}
a.remove(1)
a

{2, 3}

In [58]:
a = {1,2,3}
a

{1, 2, 3}

In [66]:
a = {"Ram","Shyam","Hari"}
b = {"sita","Gita","Shyam","Hari"}
print(a.intersection(b))
print(a.union(b))

{'Hari', 'Shyam'}
{'Hari', 'Shyam', 'sita', 'Gita', 'Ram'}

In [71]:
#a-b
#b-a
print(a.difference(b))#a-b

print(b.difference(a))#b-a

{'Ram'}
{'sita', 'Gita'}

In [73]:
#joint - set which have intersection 
#subset or superset

In [80]:
a = {1,2,3}
b = {4,5,6}
a.isdisjoint(b)

False

In [81]:
a = {1,2,3}
b = {4,5,6}
print(a.intersection(b))

set()

In [86]:
a = {1,2,3,4,5,6,7} 
b = {1,2,3}
print(b.issubset(a)) #subset \ b is subset of a

print(a.issuperset(a)) #Superset / a is superset of b

True
True

In [90]:
a = {"Ram","Shyam","Hari"}
b = {"sita","Gita","Shyam","Hari"}
u = {'Hari', 'Shyam', 'sita', 'Gita', 'Ram','Nita','Manit'}

unn = a.union(b)

u.difference(unn)
#u.difference(a.union(b))

{'Manit', 'Nita'}