1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,

Enter c or f: c
you choosed celcious

In [13]:
a = "Hello World"
print(type(a))
print(a[0])
print(a[0:5])
print(a[5:])
print(a[0::2])
print(a[0::3])

b = len(a)
print(b)
a[b::-1]
print(a*4)

<class 'str'>
H
Hello
 World
HloWrd
HlWl
11
Hello WorldHello WorldHello WorldHello World

In [11]:
a = "Hello "
b = "World"
print(a+b)

Hello World

In [ ]:
#search  and count
#string formatting
#split
#replace

In [15]:
#Search in string
a = "Ram Shyam Hari Ram Neha"
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [19]:
#Search and count in string
a = "Ram Shyam Hari Ram Neha"
search = input("ENter a value for search")
if "search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

ENter a value for searchRam
Yes
2

In [20]:
#replace
a = "Ram Shyam Hari Ram Neha"
b = a.replace("Ram","ram")
print(b)

ram Shyam Hari ram Neha

In [21]:
#replace by removing
a = "Ram Shyam Hari Ram Neha"
b = a.replace("Ram","")
print(b)

 Shyam Hari  Neha

In [26]:
#Search and count in string
a = "Ram Shyam Hari Ram Neha".lower()
search = input("ENter a value for search").lower()
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

ENter a value for searchRaM
Yes
2

In [24]:
a = "Ram"
a.upper()

'RAM'

In [25]:
a.lower()

'ram'

In [1]:
# string fotrmatting
# name = "Ram"
# phone = 98345345
# info = name+str(phone)
# info
name = input("Enter name")
phone = int(input("Enter phone"))
data = f"{name} {phone}"
print(data)

Enter nameRam
Enter phone465546456
Ram 465546456

In [2]:
# string fotrmatting

name = input("Enter name")
phone = int(input("Enter phone"))
data = f"Hello I am {name}. My phone no is {phone}"
print(data)

Enter nameRam
Enter phone9867665654
Hello I am Ram. My phone no is 9867665654

In [3]:
info = str()
n = int(input("Enetr n = "))
for i in range(n):
    name = input("Enter name")
    phone = int(input("Enter phone"))
    data = f"{name} {phone}\n"
    info = info+data
print(info)

Enetr n = 2
Enter nameRam
Enter phone9856554543
Enter nameShyam
Enter phone9867665654
Ram 9856554543
Shyam 9867665654

In [6]:
info = ""
grand_total = 0
n = int(input("Enetr n = "))
for i in range(n):
    name = input("Enter name")
    price = int(input("Enter phone"))
    quantity = int(input("Enter quantity"))
    total = price*quantity
    
    data = f"{name} {price} {quantity} {total}\n"
    grand_total = grand_total+total
    info = info+data
print(info)
print(grand_total)

Enetr n = 2
Enter namechauchau
Enter phone20
Enter quantity2
Enter namebiscuit
Enter phone10
Enter quantity3
chauchau 20 2 40
biscuit 10 3 30

70

In [8]:
a = "Apple Ball Wai-Wai"
b =a.split()
b

['Apple', 'Ball', 'Wai-Wai']

In [9]:
b[0]

'Apple'

In [10]:
a = "chauchau 20 2 40\nbiscuit 10 3 30"
print(a)

chauchau 20 2 40
biscuit 10 3 30

In [11]:
a.split('\n')

['chauchau 20 2 40', 'biscuit 10 3 30']

In [ ]:
xtmns2e