In [10]:
#tuple - like a list 
#-indexing
#-order
#duplicate member
#imutable
# represent by ()
# should be seperated by comma
# no append del replace pop sort update etc

In [12]:
a = tuple()
b = (1,2,3)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [16]:
a = (1,2)
b = (3)
c = (4,)
print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [17]:
#indexing
a = ("Apple","Ball","Cat","Dog")
a[1]

'Ball'

In [18]:
a[:3]

('Apple', 'Ball', 'Cat')

In [19]:
#order
a = ("A","b","c" )
b = ("d","c")
print(b+a)

('d', 'c', 'A', 'b', 'c')

In [21]:
#duplicate
b = ("d","c")
print(b*2)

('d', 'c', 'd', 'c')

In [23]:
#seperated by comma
a = ()
b = ("Apple",)
print(a+b)

('Apple',)

In [25]:
y = tuple()
n = int(input("Enter value of n: "))
for i in range(n):
    x = input("Enter name: ")
    y = y+(x,)
print(y)

Enter value of n: 1
Enter name: g
('g',)

In [31]:
# min max sum sorted
y = tuple()
n = int(input("Enter value of n: "))
for i in range(n):
    x = int(input("Enter number: "))
    y = y+(x,)
print("tupple is ",y)
print("max is ",max(y))
print("min is ",min(y))
print("sum is",sum(y))

Enter value of n: 1
Enter number: 5
tupple is  (5,)
max is  5
min is  5
sum is 5

In [34]:
#sorted
a = (125, 21, 898, 545, 215)
sorted(a)

[21, 125, 215, 545, 898]

In [35]:
# no immutable 
a = (125, 21, 898, 545, 215)
a[0] = 50
print(a)

TypeError: 'tuple' object does not support item assignment

In [37]:
#del in tuple
a = (125, 21, 898, 545, 215)
b = a[0:2]
c = a[3:]
print(b+c)

(125, 21, 545, 215)

In [41]:
# tuplet to list
a = (125, 21, 898, 545, 215)
b = list(a)
print(b)
del b[2:4]
tuple(b)

[125, 21, 898, 545, 215]

(125, 21, 215)

In [42]:
#nested tuple
a = ((1,2,3),(4,5,6),(7,8,9))  #tuple inside tuple
b = [(1,2,3),(4,5,6),(7,8,9)] #tuple inside list
c = ([1,2,3],[4,5,6],[7,8,9]) #list inside tuple

In [1]:
a = ((1,2,3),(4,5,6),(7,8,9)) 
et = tuple()
n = int(input("Enter value of n: "))
for i in range(n):
    x = int(input("Enter value of x: "))
    y = int(input("Enter value of y: "))
    z = int(input("Enter value of z: "))
    et = et+((x,y,z),)

    print(et)

Enter value of n: 2
Enter value of x: 1
Enter value of y: 2
Enter value of z: 3
((1, 2, 3),)
Enter value of x: 4
Enter value of y: 5
Enter value of z: 6
((1, 2, 3), (4, 5, 6))

In [5]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = list(a)
print(type(b))
print(b)

<class 'list'>
[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [7]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = list(a)
b.append((10,11,12))
print(b)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [18]:
b = []
a = ((1,2,3),(4,5,6),(7,8,9))
for i in a:
      print(list(i))
 b.append(list(i))
print(b)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
b = ()
a = [[1,2,3],[4,5,6],[7,8,9]]
for i in a:
    
    b = b +(tuple(i),)
print(b)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [23]:
aList = ["PYnative",
         [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

Y
16

In [26]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))
int = a
print(a)

zara
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [27]:
int =a 
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]